{% extends 'base.html' %} {% block content %}

<h1 class="text-center mb-4">About Age and Gender Detection</h1>
<p>
  This application utilizes advanced computer vision and machine learning
  algorithms to detect the age and gender of individuals in an uploaded image.
</p>

<h3>How It Works:</h3>
<ol>
  <li>Upload an image containing one or more faces.</li>
  <li>The application processes the image, identifying the faces.</li>
  <li>It then estimates the age and gender for each detected face.</li>
  <li>
    The results are presented along with the original image, highlighting the
    detected faces.
  </li>
</ol>

<h3>Backend Technologies Used:</h3>
<ul>
  <li>OpenCV: For image processing and face detection.</li>
  <li>Deep Learning Models: For age and gender prediction.</li>
  <li>Flask: For creating the web application interface.</li>
</ul>
<h3>Frontend Technologies Used:</h3>
<ul>
  <li>HTML: For structuring the content.</li>
  <li>Bootstrap: For styling and responsive design.</li>
  <li>JavaScript: For adding interactivity to the page.</li>
</ul>
<a href="/" class="btn btn-secondary btn-block mt-3">Go Back</a>

{% endblock %}
