{% extends 'base.html' %} {% block content %}
<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1 class="text-center">Upload an Image</h1>
    <form action="/" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="image">Choose an image</label>
        <input
          type="file"
          name="image"
          class="form-control-file"
          accept="image/*"
          required
        />
      </div>
      <div class="form-group text-center">
        <input type="submit" value="Detect" class="btn btn-secondary" />
      </div>
    </form>
  </div>
</div>
{% endblock %}
